@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0c1e9a;
  --secondary: #ff992a;
}

/* ltr */
.change__dir {
  direction: ltr;
}

/* gradiant */
.gradiant__bg {
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
}

/* NavLink */
.navlink::after {
  content: "";
  @apply absolute right-0 bottom-[-0.3em] bg-white w-0 h-[3px] transition-all duration-500;
}

.navlink:hover::after {
  @apply w-full;
}

/* custome button */
.custom-btn {
  @apply px-6 py-3 text-center outline-none;
}

/*** Hero Header ***/
.hero-header {
  margin-bottom: 6rem;
  padding: 16rem 0 0 0;
  background: url(../public/bg-circle.png), url(../public/bg-triangle.png),
    url(../public/bg-bottom.png),
    linear-gradient(to bottom right, var(--primary), var(--secondary));
  background-size: auto, auto, 100%;
  background-position: right 0px top 0px, left -10px top 40%, center bottom;
  background-repeat: no-repeat;
}

.hero-header2 {
  margin-bottom: 6rem;
  padding: 16rem 0 0 0;
  background: url(../public/bg-circle.png), url(../public/bg-triangle.png),
    url(../public/bg-bottom2.png),
    linear-gradient(to bottom right, var(--primary), var(--secondary));
  background-size: auto, auto, 100%;
  background-position: right 0px top 0px, left -10px top 40%, center bottom;
  background-repeat: no-repeat;
}

@media (max-width: 1060) {
  .hero-header {
    padding: 6rem 0 9rem 0;
  }
  .hero-header2 {
    padding: 6rem 0 9rem 0;
  }
}

/* Hero footer */
.hero-footer {
  margin-top: 6rem;
  padding: 14rem 0 0 0;
  background: url(../public/bg-circle.png), url(../public/bg-triangle.png),
    url(../public/bg-top.png),
    linear-gradient(to bottom right, var(--primary), var(--secondary));
  background-size: auto, auto, 100%;
  background-position: right 0px bottom 0px, left 15px top 75%, center top;
  background-repeat: no-repeat;
}

.hero-footer2 {
  margin-top: 6rem;
  padding: 14rem 0 0 0;
  background: url(../public/bg-circle.png), url(../public/bg-triangle.png),
    url(../public/bg-top2.png),
    linear-gradient(to bottom right, var(--primary), var(--secondary));
  background-size: auto, auto, 100%;
  background-position: right 0px bottom 0px, left 15px top 75%, center top;
  background-repeat: no-repeat;
}

/* dialog animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.DialogOverlay[data-state="open"],
.DialogContent[data-state="open"] {
  animation: fadeIn 250ms ease-out;
}

.DialogOverlay[data-state="closed"],
.DialogContent[data-state="closed"] {
  animation: fadeOut 250ms ease-in;
}

/* education */
.box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30rem;
  flex: 1 1 30rem;
  margin-right: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-bottom: 1rem;
  position: relative;
  margin-top: 15px;
}

/* swiper */
.swiper-wrapper {
  height: 250px !important;
}

.swiper-pagination {
  position: initial !important;
  margin-top: 1.5em;
  color: var(--primary);
}
